# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite3

# Logs
*.log

# Static/compiled
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# FastAPI/Starlette
instance/

# Others
*.bak
